@model Holiday
<form method="post">
    <p>Название: <input asp-for="Title" /></p>
    <p>Дата: <input asp-for="Date" type="date" /></p>
    <p>Адрес: <input asp-for="Address" /></p>
    <p>Описание: <textarea asp-for="Description"></textarea></p>
    <button type="submit">Сохранить</button>
</form>
